flows.json
[{"id":"64811f24.db8eb","type":"debug","z":"bd5308ef.23b988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"4dcc5b47.32c604","type":"mqtt in","z":"bd5308ef.23b988","name":"subscribe","topic":"mymed/turnofled","qos":"2","datatype":"auto","broker":"402406df.87f9d8","nl":false,"rap":true,"rh":0,"x":370,"y":260,"wires":[["64811f24.db8eb"]]},{"id":"7d0e4bf4.07fb54","type":"mqtt out","z":"bd5308ef.23b988","name":"turn on led","topic":"mymed/setled","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"402406df.87f9d8","x":570,"y":340,"wires":[]},{"id":"ea5f3601.c184b8","type":"inject","z":"bd5308ef.23b988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"OFF\",\"led\":3}","payloadType":"json","x":370,"y":340,"wires":[["7d0e4bf4.07fb54"]]},{"id":"402406df.87f9d8","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]